* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  color: rgb(163, 123, 74);
}

.navbar {
  background-color: rgb(248, 238, 224);
  height: 80px;
}

.navbar ul {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li a {
  padding: 0 20px;
  text-decoration: none;
  color: burlywood;
  &.active {
    color: rgb(161, 118, 61);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  margin: 50px 50px;
}

.card img {
  width: 200px;
}

.card h3 {
  margin: 15px;
}

.price {
  color: brown;
}
