* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  color: rgb(163, 123, 74);
}

.navbar {
  background-color: rgb(248, 238, 224);

  height: 100px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.navbar li a {
  text-decoration: none;
  color: burlywood;
}

.navbar li a .active {
  color: rgb(156, 123, 79);
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  margin: 50px 50px;
}

.card img {
  width: 200px;
}
