* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 242, 242);
  color: rgb(189, 163, 131);
}

h1 {
  margin: 50px;
}

.welcome {
  font-size: 30px;
  margin: 0 50px;
}
.navbar {
  background-color: rgb(240, 223, 200);
  height: 80px;
}

.navbar ul {s
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li a {
  padding: 0 20px;
  text-decoration: none;
  color: burlywood;
  &.active {
    color: rgb(161, 118, 61);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  margin: 50px 50px;
}

.card img {
  width: 200px;
}

.card h3 {
  margin: 15px;
}

.price {
  color: brown;
}
